@page
@model CarAplication.Pages.Requests.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Request.ID" />

            <div class="form-group">
                <label asp-for="Request.ClientID" class="control-label"></label>
                <select asp-for="Request.ClientID" class="form-control" asp-items="ViewBag.ClientID"></select>
                <span asp-validation-for="Request.ClientID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Request.CarID" class="control-label"></label>
                <select asp-for="Request.CarID" class="form-control" asp-items="ViewBag.CarID"></select>
                <span asp-validation-for="Request.CarID" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="Request.Car.Brand" class="control-label"></label>
                <select asp-for="Request.Car.Brand" class="form-control" asp-items="ViewBag.Car.Brand"></select>
                <span asp-validation-for="Request.Car.Brand" class="text-danger"></span>
            </div> *@

            <div class="form-group">
                <label asp-for="Request.PickupDate" class="control-label"></label>
                <input asp-for="Request.PickupDate" class="form-control" />
                <span asp-validation-for="Request.PickupDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Request.ReturnDate" class="control-label"></label>
                <input asp-for="Request.ReturnDate" class="form-control" />
                <span asp-validation-for="Request.ReturnDate" class="text-danger"></span>
            </div>

            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
